<p id="notice"><%= notice %></p>

<div class="row">

  <div class="col-md-8 offset-md-2">

    <% @pools.each do |pool| %>
      <div class="container">
        <br>
        <h3><%= pool.name %></h3>
        <table class="table table-bordered table-info">
          <thead class="thead-dark">
            <tr>
              <th>PARÁMETRO</th>
              <th>VALOR</th>
              <th>FECHA</th>
            </tr>
          </thead>

          <tbody>
            <% if pool.last_ph %>
              <% if (pool.last_ph.value > Pool.max_ph) || (pool.last_ph.value < Pool.min_ph) %>
                <tr class="table-danger"> 
              <% else %>            
                <tr>  
              <% end %>           
                  <td><%= link_to 'PH', ph_pool_path(pool) %></td> 
                  <td><%= pool.last_ph.value %></td>
                  <td><%= pool.last_ph.created_at.strftime("%d-%m-%Y  %H:%M:%S") %></td>
                </tr>
            <% else %>
              <tr> 
                <td>PH</td>
                <td>-</td>
                <td>-</td>
              </tr>  
            <% end %>
                
            <% if pool.last_cl2 %>
              <% if (pool.last_cl2.value > Pool.max_cl2) || (pool.last_cl2.value < Pool.min_cl2) %>
                <tr class="table-danger">
              <% else %>
                <tr>
              <% end %>
                  <td><%= link_to 'CLORO', cl2_pool_path(pool) %></td>
                  <td><%= pool.last_cl2.value.to_s + ' mg/l' %></td>
                  <td><%= pool.last_cl2.created_at.strftime("%d-%m-%Y  %H:%M:%S") %></td>
                </tr>
            <% else %>
              <tr>
                <td>CLORO</td>
                <td>-</td>
                <td>-</td>
              </tr> 
            <% end %>

            <tr>
              <% if pool.last_temp %>
                <td><%= link_to 'TEMPERATURA', temp_pool_path(pool) %></td>
                <td><%= pool.last_temp.value.to_s + ' ºC' %></td>
                <td><%= pool.last_temp.created_at.strftime("%d-%m-%Y  %H:%M:%S") %></td>
              <% else %>
                <td>TEMPERATURA</td>
                <td>-</td>
                <td>-</td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    <% end %>

  </div>  

</div>  

<%= link_to 'Nueva piscina', new_pool_path %>
