<p id="notice"><%= notice %></p>

<div class="row">

  <div class="col-md-7">

    <% @pools.each do |pool| %>
      <div class="container">
        <br>
        <h3><%= pool.name %></h3>
        <table class="table table-bordered table-info">
          <thead class="thead-dark">
            <tr>
              <th>PARÁMETRO</th>
              <th>VALOR</th>
              <th>FECHA</th>
            </tr>
          </thead>

          <tbody>   
            <tr>             
              <% if pool.last_ph %>
                <td><%= link_to 'PH', ph_pool_path(pool) %></td>
                <td><%= pool.last_ph.value %></td>
                <td><%= pool.last_ph.created_at %></td>
              <% else %>
                <td>PH</td>
                <td>-</td>
                <td>-</td>
              <% end %>
            </tr>

            <tr>
              <% if pool.last_cl2 %>
                <td><%= link_to 'CLORO', cl2_pool_path(pool) %></td>
                <td><%= pool.last_cl2.value.to_s + ' mg/l' %></td>
                <td><%= pool.last_cl2.created_at %></td>
              <% else %>
                <td>CLORO</td>
                <td>-</td>
                <td>-</td>
              <% end %>
            </tr>

            <tr>
              <% if pool.last_temp %>
                <td><%= link_to 'TEMPERATURA', temp_pool_path(pool) %></td>
                <td><%= pool.last_temp.value.to_s + ' ºC' %></td>
                <td><%= pool.last_temp.created_at %></td>
              <% else %>
                <td>TEMPERATURA</td>
                <td>-</td>
                <td>-</td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    <% end %>

  </div>  

</div>  

<%= link_to 'Nueva piscina', new_pool_path %>
