<p id="notice"><%= notice %></p>

<div class="row">

  <div class="col-md-4">

      <div class="container">
        <br>
        <h3><%= @pool.name.upcase %></h3>
        <h4><%= 'Historial Cloro' %></h4>
        <table class="table table-bordered table-info table-sm">
          <thead class="thead-light">
            <tr>
              <th>VALOR (mg/l)</th>
              <th>FECHA</th>
            </tr>
          </thead>

          <tbody>
            <% @cl2_history.each do |cl2| %>
              <% if (cl2.value > Pool.max_cl2) || (cl2.value < Pool.min_cl2) %>            
                <tr class="table-danger">                   
              <% else %>            
                <tr>  
              <% end %> 
                  <td><%= cl2.value %></td>
                  <td><%= cl2.created_at.strftime("%d-%m-%Y  %H:%M:%S") %></td>
                </tr>
            <% end %>
          </tbody>
        </table>
      </div> 

  </div>  

  <div class="col-md-7 offset-md-1">
    <canvas id="cl2Chart" width="400" height="280"></canvas>
  </div>

</div>  


<script>
  var ctx = document.getElementById('cl2Chart').getContext('2d');
  var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'line',

      // The data for our dataset
      data: {
          labels: ["t1", "t2", "t3", "t4", "t5", "t6", "t7", "t8", "t9", "t10"],
          datasets: [{
              label: "Historial CLORO",
              backgroundColor: 'rgb(190, 229, 235)',
              borderColor: 'rgb(23, 162, 184)',
              data: <%= @cl2_history.pluck(:value) %>
          }]
      },

      // Configuration options go here
      options: {}
  });
</script>