<p id="notice"><%= notice %></p>

<div class="row">

  <div class="col-md-4">

      <div class="container">
        <br>
        <h3><%= @pool.name.upcase %></h3>
        <h4><%= 'Historial Cloro' %></h4>
        <table class="table table-bordered table-info table-sm">
          <thead class="thead-light">
            <tr>
              <th>VALOR (mg/l)</th>
              <th>FECHA</th>
            </tr>
          </thead>

          <tbody>
            <% @cl2_history.each do |cl2| %>
                <tr>
                    <td><%= cl2.value %></td>
                    <td><%= cl2.created_at %></td>
                </tr>
            <% end %>    
          </tbody>
        </table>
      </div> 

  </div>  

</div>  