<p id="notice"><%= notice %></p>

<div class="row">

  <div class="col-md-4">

      <div class="container">
        <br>
        <h3><%= @pool.name.upcase %></h3>
        <h3><%= 'Historial Temperatura' %></h3>
        <table class="table table-bordered table-info table-sm">
          <thead class="thead-light">
            <tr>
              <th>VALOR (ºC)</th>
              <th>FECHA</th>
            </tr>
          </thead>

          <tbody>
            <% @temp_history.each do |temp| %>
                <tr>
                    <td><%= temp.value %></td>
                    <td><%= temp.created_at %></td>
                </tr>
            <% end %>    
          </tbody>
        </table>
      </div> 

  </div>  

</div>  